name: Build MPV

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      github_release:
        description: 'Upload to Github release'
        required: false
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Setup environment
      run: |
        sudo apt update
        sudo apt install -y gcc g++ autoconf automake debhelper glslang-dev ladspa-sdk libasound2-dev \
            libarchive-dev libbluray-dev libbs2b-dev libcaca-dev libcdio-paranoia-dev libdrm-dev \
            libdav1d-dev libdvdnav-dev libegl1-mesa-dev libepoxy-dev libfontconfig-dev libfreetype6-dev \
            libfribidi-dev libgl1-mesa-dev libgbm-dev libgme-dev libgsm1-dev libharfbuzz-dev libjpeg-dev \
            libbrotli-dev liblcms2-dev liblircclient-dev libmodplug-dev libmp3lame-dev libopenal-dev \
            libopus-dev libopencore-amrnb-dev libopencore-amrwb-dev libpulse-dev librtmp-dev \
            librubberband-dev libsdl2-dev libsixel-dev libssh-dev libsoxr-dev libspeex-dev libtool \
            libuchardet-dev libv4l-dev libva-dev libvdpau-dev libvorbis-dev libvo-amrwbenc-dev \
            libunwind-dev libvpx-dev libwayland-dev libx264-dev libx11-dev libxext-dev \
            libxkbcommon-dev libxpresent-dev libxrandr-dev libxss-dev libxv-dev libxvidcore-dev \
            linux-libc-dev nasm ninja-build pkg-config python3 python3-docutils wayland-protocols \
            x11proto-core-dev zlib1g-dev libfdk-aac-dev libtheora-dev libwebp-dev libx265-dev \
            unixodbc-dev libpq-dev libxxhash-dev libaom-dev
        pip3 install meson

    - name: Install Vulkan
      run: |
        VULKAN_VERSION=1.3.296.0
        VULKAN_SDK_URL=https://sdk.lunarg.com/sdk/download/${VULKAN_VERSION}/linux/vulkan-sdk-${VULKAN_VERSION}.tar.xz?Human=true
        VULKAN_SDK_PATH=/tmp/vulkan-sdk

        rm -rf ${VULKAN_SDK_PATH}

        mkdir -p ${VULKAN_SDK_PATH}
        wget -O vulkan-sdk.tar.xz "${VULKAN_SDK_URL}"
        tar -xf vulkan-sdk.tar.xz -C ${VULKAN_SDK_PATH} --strip-components=1
        rm -f vulkan-sdk.tar.xz

        source ${VULKAN_SDK_PATH}/setup-env.sh

    - name: Build MPV
      run: |
        PATCH_DIR="${GITHUB_WORKSPACE}/patch"
        if [ ! -d "$PATCH_DIR" ]; then
          echo "Patch directory not found: $PATCH_DIR"
          exit 1
        fi

        MPV_BUILD_PATH=/tmp/mpv_build
        rm -rf ${MPV_BUILD_PATH}
        git clone https://github.com/mpv-player/mpv-build.git ${MPV_BUILD_PATH}
        git config --global --add safe.directory ${MPV_BUILD_PATH}
        cd ${MPV_BUILD_PATH}

        printf "%s\n" --enable-gpl >>ffmpeg_options
        printf "%s\n" --enable-version3 >>ffmpeg_options
        printf "%s\n" --enable-nonfree >>ffmpeg_options
        printf "%s\n" --enable-libass >>ffmpeg_options
        printf "%s\n" --enable-libfreetype >>ffmpeg_options
        printf "%s\n" --enable-libx264 >>ffmpeg_options
        printf "%s\n" --enable-libx265 >>ffmpeg_options
        printf "%s\n" -Dlibmpv=true >mpv_options

        ./use-ffmpeg-master
        ./use-libass-master
        ./use-libplacebo-master
        ./use-mpv-release

        ./update

        echo "Applying patches to ffmpeg"
        ls -l
        cd ffmpeg
        for PATCH_FILE in $PATCH_DIR/*.patch; do
          if [ -f "$PATCH_FILE" ]; then
            echo "Applying patch: $PATCH_FILE"
            git apply "$PATCH_FILE"
          else
            echo "No patch files found in $PATCH_DIR"
            exit 1
          fi
        done
        cd ../

        ./clean
        ./build -j$(nproc)

        mkdir -p $GITHUB_WORKSPACE/artifacts
        cp -r mpv/build/* $GITHUB_WORKSPACE/artifacts

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mpv-binary
        path: artifacts

    - name: Uploading packages to Github release
      id: upload_packages_gh
      if: ${{ github.event.inputs.github_release == 'true'}}
      continue-on-error: true
      run: |
        short_date=$(date "+%Y%m%d")
        body=$(cat <<END
        **Workflow run**: $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID
        END
        )
        id=$(curl -u Predidit:$GH_TOKEN $CURL_RETRIES -s -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/Predidit/libmpv-win32-video-cmake/releases -d @- <<END | jq -r '.id'
        {
          "tag_name": "$short_date",
          "name": "$short_date",
          "body": "$(echo ${body//$'\n'/'\n'})"
        }
        END
        )
        file_path="mpv/build/libmpv.so"
        archive_name="libmpv.so.tar.gz"
        
        if [ -f "$file_path" ]; then
          tar -czf $archive_name -C $(dirname $file_path) $(basename $file_path)
          
          curl -u Predidit:$GH_TOKEN $CURL_RETRIES -X POST -H "Accept: application/vnd.github.v3+json" \
            -H "Content-Type: $(file -b --mime-type $archive_name)" \
            https://uploads.github.com/repos/Predidit/libmpv-win32-video-cmake/releases/$id/assets?name=$archive_name \
            --data-binary @$archive_name
        else
          echo "libmpv.so not found, skipping upload."
        fi